@import '../abstract/variables';

.row {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.end {
    justify-content: flex-end;
  }
}
.ant-form {
  width: 100%;
  padding: 0px 6vw;
}
