@import '../abstract/variables';

.row {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.end {
    justify-content: flex-end;
  }
}

.ant-form {
  width: 100%;
  padding: $spacer-300 6vw;

  &.modal-form {
    padding: 0
  }
}

.h-100 {
  height: 100%;
}
