//official color palette
$color-white: #ffffff;
$color-white-transparent: #ffffffc2;
$color-error: #f5222d;

$form-width: 480px;
$page-width: 480px;

$form-item-height: 48px;

$spacer: 8px;

$spacer-0: $spacer * 0; // 0
$spacer-050: $spacer * 0.5; // 4px
$spacer-100: $spacer * 1; // 8px
$spacer-150: $spacer * 1.5; // 12px
$spacer-200: $spacer * 2; // 16px
$spacer-250: $spacer * 2.5; // 20px
$spacer-300: $spacer * 3; // 24px
$spacer-350: $spacer * 3.5; // 28px
$spacer-400: $spacer * 4; // 32px
$spacer-500: $spacer * 5; // 40px

$font-sizer: 8px;

$font-sizer-100: $font-sizer * 1; // 8px
$font-sizer-150: $font-sizer * 1.5; // 12px
$font-sizer-175: $font-sizer * 1.75; // 14px
$font-sizer-200: $font-sizer * 2; // 16px
$font-sizer-250: $font-sizer * 2.5; // 20px
$font-sizer-300: $font-sizer * 3; // 24px
$font-sizer-400: $font-sizer * 4; // 32px

$border-radius: 8px;

$border-radius-100: $border-radius; //8px
