//official color palette
$color-white: #ffffff;
$color-white-transparent: #ffffffc2;
$color-error: #f5222d;

$form-width: 480px;
$page-width: 480px;

$form-item-height: 48px;

$spacer: 8px;

$spacer-0: $spacer * 0; //0px

$font-sizer: 8px;

$font-sizer-0: $font-sizer * 0; //0px

$border-radius: 8px;

$border-radius-100: $border-radius; //8px
