@import '../abstract/variables';

.application-card {
  width: 100%;
  max-width: 960px;
  margin: $spacer-300;

  & .ant-card-head-title {
    font-size: $font-sizer-300;
    font-weight: bold;
  }
}

.back-button {
  margin-right: $spacer-350;
  cursor: pointer;
}

.info-item {
  font-size: $font-sizer-200;
  padding-bottom: $spacer-200;

  &__title {
    font-weight: bold;
  }
}
