.app-table .ant-table-thead > tr:first-child > th:last-child {
  width: 10%;
}

.link-to-item {
  text-align: center;
  color: #0285ff;
  text-decoration: underline;
  cursor: pointer;
}
.ant-tabs-bar {
  border: none;
}
