@import 'abstract/variables';

.button {
  color: $color-white;
  text-align: center;
  height: $form-item-height;
  line-height: $form-item-height;
  vertical-align: middle;
  border-radius: 50px;
  font-family: 'Inter Regular';
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: $spacer-125;
  padding-right: $spacer-125;
  // TODO delete margin and fix all affected places

  &:hover {
    cursor: pointer;
  }
  &_disabled {
    opacity: 0.6;
    &:hover {
      cursor: initial;
    }
  }
  &__success {
    background-color: $color-bilbao;
  }
  &__success-invert {
    border: 1px solid $color-bilbao;
    color: $color-bilbao;
  }
  &__danger-invert {
    border: 1px solid $color-error;
    color: $color-error;
  }
  &__size {
    &--xs {
      max-width: 100px;
    }
    &--s {
      max-width: 184px;
    }
    &--m {
      max-width: 248px;
    }
    &--l {
      max-width: 300px;
    }
    &--xl {
      max-width: 340px;
    }
    &--responsive {
      display: inline-block;
      padding: 0 25px;
    }
  }
  &__back {
    height: 30px;
    width: 47px;
    border: 1px solid $color-bilbao;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 11px center;
  }
  &__cross {
    height: 24px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &__plus {
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &_center {
    margin-left: auto;
    margin-right: auto;
  }
}
// TODO Move all button background images to icon component
