@import 'abstract/variables';

.button-wrapper {
  div {
    width: 100px;
  }
  display: flex;
  &_left {
    justify-content: flex-end;
  }
  &_center {
    justify-content: center;
  }
  &_right {
    justify-content: flex-end;
  }
  padding: 30px 0;
}
