@import '../abstract/variables';

.content-tabs {
  .ant-radio-group {
    display: flex;
    justify-content: center;
  }
  &__title {
    font: {
      family: 'Inter Light';
      style: normal;
      weight: 600;
      size: 16px;
    }
    line-height: 19px;
    text-align: center;
    padding-top: $spacer-0;
    color: grey;
  }
  &_hidden {
    display: none;
  }
}
