@import 'abstract/variables';

.form-input {
  padding: $spacer-125 0;
  margin-bottom: $spacer;
  label {
    font-style: normal;
    font-weight: 500;
    font-size: $font-sizer-200;
    line-height: 100%;
    color: $color-dove-gray;
  }
  input {
    height: $form-item-height;
    line-height: 100%;
    border-radius: $spacer-100;
    background-color: $color-athens-gray;
  }
  .ant-form-explain {
    position: absolute;
    font-size: $font-sizer-150;
    line-height: $font-sizer-150;
    padding-top: $spacer-100;
    padding-bottom: $spacer-100;
  }
  &_hidden {
    display: none;
  }
}
