@import 'abstract/variables';

.form-select {
  position: relative;
  & .ant-select {
    display: block;
  }
  & .ant-select-selection {
    line-height: 100%;
  }
  & .ant-select-selection__clear {
    opacity: 0 !important;
  }
  & .ant-select-focused {
    .ant-select-selection__placeholder {
      display: none !important;
    }
  }
  & .button__cross {
    position: absolute;
    z-index: 1;
    right: 0px;
    height: 18px;
  }
  &__popup-container {
    div:nth-child(2) {
      position: relative !important;
    }
  }
}
