@import 'abstract/variables';

.form-dictionary-multiple {
  & .ant-select-selection {
    height: $form-item-height;
    line-height: 100%;
    $border-radius: $border-radius-100;
    background-color: $color-athens-gray;
    & .ant-select-selection__rendered {
      line-height: $form-item-height;
    }
    & .ant-select-arrow-icon {
      color: $color-bilbao;
    }
  }
  &__list {
    &-item {
      button {
        position: absolute;
        top: -16px;
        right: 9px;
        height: 18px;
        width: 24px;
      }
    }
  }
  &__buttons {
    display: flex;
    :nth-child(2) {
      padding-left: $spacer-125;
      line-height: 44px;
      vertical-align: middle;
    }
  }
  &_required {
    > .ant-form-item-label {
      label::before {
        display: inline-block;
        margin-right: $spacer-025;
        color: $color-error;
        font-size: $font-sizer-175;
        font-family: SimSun, sans-serif;
        line-height: 1;
        content: '*';
      }
    }
  }
  .ant-form-explain {
    position: initial;
    color: $color-error;
  }
}
