@import 'abstract/variables';

.form-input-debounce {
  position: relative;
  & .button__cross {
    position: absolute;
    z-index: 1;
    right: 9px;
    height: 18px;
  }
  & .ant-input-suffix {
    opacity: 0;
  }
}
