@import 'abstract/variables';

.form-input {
  padding: 10px 0;
  margin-bottom: $spacer;
  label {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: grey;
  }
  input {
    height: $form-item-height;
    line-height: 100%;
    border-radius: 8px;
    background-color: greyy;
  }
  .ant-form-explain {
    position: absolute;
    font-size: 12px;
    line-height: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  &_hidden {
    display: none;
  }
}
