@import '../abstract/variables';

.row-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100%;

  @media (max-width: 767px) {
    align-items: unset;
  }

  & .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    max-width: 960px;

    @media (max-width: 767px) {
      width: 100%;
      height: initial;
    }

    &.content {
      padding: $spacer-250 $spacer-500;

      @media (max-width: 767px) {
        padding: $spacer-200;
      }
    }
  }
}
