@import 'abstract/variables';

.separate-date-picker {
  display: flex;
  justify-content: space-between;
  .ant-select-selection {
    height: $form-item-height;
  }
  .ant-select-disabled {
    .ant-select-selection {
      background-color: $color-silver-light;
    }
  }
  & > div:nth-child(1) {
    width: 25%;
  }
  & > div:nth-child(2) {
    width: 45%;
  }
  & > div:nth-child(3) {
    width: 25%;
  }
  .ant-select-selection__rendered {
    line-height: $form-item-height;
    margin-right: 0px;
    .ant-select-selection__placeholder {
      font-size: 16px;
      text-align: center;
    }
  }
  .ant-select-selection {
    $border-radius: $border-radius-100;
    background-color: $color-athens-gray;
    > span {
      display: none;
    }
  }
  label {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: $color-dove-gray;
    &:before {
      content: none;
    }
  }
}
