@import 'abstract/variables';

.spiner {
  &_center {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  &_top {
    margin-top: $spacer-500;
    display: flex;
    align-items: flex-start;
  }
  &_hover {
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: $color-white-transparent;
  }
  .ant-spin {
    display: block;
    position: relative;
    margin: 0 auto;
    .ant-spin-dot-item {
      background-color: $color-bilbao;
    }
  }
}
